.danger_color { color: $danger-color !important; }
.primary_color { color: $primary-color !important; }
.secoundary_color { color: $secoundary-color !important; }
.success_color { color: $success-color !important; }
// .light_color { color: $secoundary-color !important; }


.danger_bg { background-color: $danger-color !important; }