.grid_1 {@include grid(1) ;}
.grid_2 {@include grid(2) ;}
.grid_3 {@include grid(3) ;}
.grid_4 {@include grid(4) ;}
.grid_5 {@include grid(5) ;}

.gap_primary {gap: $sp ;}
.gap_secoundary {gap: $ss ;}
.gap_x {gap: $ps ;}