.pt_01 {padding-top: 01px ;}
.pt_02 {padding-top: 02px ;}
.pt_03 {padding-top: 03px ;}
.pt_04 {padding-top: 04px ;}
.pt_05 {padding-top: 05px ;}
.pt_06 {padding-top: 06px ;}
.pt_07 {padding-top: 07px ;}
.pt_08 {padding-top: 08px ;}
.pt_09 {padding-top: 09px ;}
.pt_10 {padding-top: 10px ;}
.pt_11 {padding-top: 11px ;}
.pt_12 {padding-top: 12px ;}
.pt_13 {padding-top: 13px ;}
.pt_14 {padding-top: 14px ;}
.pt_15 {padding-top: 15px ;}
.pt_16 {padding-top: 16px ;}
.pt_17 {padding-top: 17px ;}
.pt_18 {padding-top: 18px ;}
.pt_19 {padding-top: 19px ;}
.pt_20 {padding-top: 20px ;}


.pb_01 {padding-bottom: 01px ;}
.pb_02 {padding-bottom: 02px ;}
.pb_03 {padding-bottom: 03px ;}
.pb_04 {padding-bottom: 04px ;}
.pb_05 {padding-bottom: 05px ;}
.pb_06 {padding-bottom: 06px ;}
.pb_07 {padding-bottom: 07px ;}
.pb_08 {padding-bottom: 08px ;}
.pb_09 {padding-bottom: 09px ;}
.pb_10 {padding-bottom: 10px ;}
.pb_11 {padding-bottom: 11px ;}
.pb_12 {padding-bottom: 12px ;}
.pb_13 {padding-bottom: 13px ;}
.pb_14 {padding-bottom: 14px ;}
.pb_15 {padding-bottom: 15px ;}
.pb_16 {padding-bottom: 16px ;}
.pb_17 {padding-bottom: 17px ;}
.pb_18 {padding-bottom: 18px ;}
.pb_19 {padding-bottom: 19px ;}
.pb_20 {padding-bottom: 20px ;}


.pl_01 {padding-left: 01px ;}
.pl_02 {padding-left: 02px ;}
.pl_03 {padding-left: 03px ;}
.pl_04 {padding-left: 04px ;}
.pl_05 {padding-left: 05px ;}
.pl_06 {padding-left: 06px ;}
.pl_07 {padding-left: 07px ;}
.pl_08 {padding-left: 08px ;}
.pl_09 {padding-left: 09px ;}
.pl_10 {padding-left: 10px ;}
.pl_11 {padding-left: 11px ;}
.pl_12 {padding-left: 12px ;}
.pl_13 {padding-left: 13px ;}
.pl_14 {padding-left: 14px ;}
.pl_15 {padding-left: 15px ;}
.pl_16 {padding-left: 16px ;}
.pl_17 {padding-left: 17px ;}
.pl_18 {padding-left: 18px ;}
.pl_19 {padding-left: 19px ;}
.pl_20 {padding-left: 20px ;}



.pr_01 {padding-right: 01px ;}
.pr_02 {padding-right: 02px ;}
.pr_03 {padding-right: 03px ;}
.pr_04 {padding-right: 04px ;}
.pr_05 {padding-right: 05px ;}
.pr_06 {padding-right: 06px ;}
.pr_07 {padding-right: 07px ;}
.pr_08 {padding-right: 08px ;}
.pr_09 {padding-right: 09px ;}
.pr_10 {padding-right: 10px ;}
.pr_11 {padding-right: 11px ;}
.pr_12 {padding-right: 12px ;}
.pr_13 {padding-right: 13px ;}
.pr_14 {padding-right: 14px ;}
.pr_15 {padding-right: 15px ;}
.pr_16 {padding-right: 16px ;}
.pr_17 {padding-right: 17px ;}
.pr_18 {padding-right: 18px ;}
.pr_19 {padding-right: 19px ;}
.pr_20 {padding-right: 20px ;}
