:root {
    --face         : #f2f3f5 ;
    --bg           : #FFFFFF ;
    --border       : #e3e4e9 ;
    --grey         : #e0e1e6 ;

    --primary-text          : #26262b ;
    --secoundary-text       : #616668 ;
    --small-text            : #6d7072 ;
    --light-text            : #F0F0F0 ;
}
